h2#nav-logo.header {
  font-size: 5rem;
  text-align: center;
  padding: 20px;
}
#job {
  color: orange;
}
.nav-gridRow {
  height: 100px;
  vertical-align: bottom;
}
#nav-logo {
  font-size: 4rem;
}
/* #nav-grid {
  display: table-cell;
} */
.container#nav-container, #nav-menu.menu {
  width: 100%!important;
  margin: 0px!important;
  background-color: #FFC675;
  justify-content: center;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0 0 0 / 99%);
  border-bottom-color: black;
}
a#dashboard-item.item, a#job-item.item, a#logout-btn.item {
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 2px;
  font-family: "Exo", sans-serif;
  
}
a#nav-link-home, a#nav-link-create, a#nav-link-logout {
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 2px;
  font-family: "Exo", sans-serif;
  
}