.container#header-container, .header.greetings-header, .container#jobs-counter-container {
    padding: 10px;
    color: rgb(201, 201, 201);
    /* background-color: #FFC675; */
    background-image: url("./stardust.png");
    font-size: 2.0em;
    width: 100%!important;
    margin: 0px!important;
    justify-content: center;
    
}
#jobs-counter.ui.container {
    justify-content: center;
    width: 550px;
}
.header.greetings-header {
    font-style: italic;
    text-align: center;
}
p.jobs-header {
    text-align: center;
    color: rgb(201, 201, 201);
    font-weight: bold;
}
.divider.divider {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0 0 0 / 99%);
}

a#job-status.item {
    color: black;
    font-weight: bold;
}
#jobs-counter-menu.ui.vertical.menu {
    background: #F27405;
    font-size: .70em;
    margin: auto;
}

/* Background pattern from Toptal Subtle Patterns */