.container#header-container, .header.greetings-header, .container#jobs-counter-container {
    text-align: center;
    padding: 10px;
    color: rgb(201, 201, 201);
    /* background-color: #FFC675; */
    background-image: url("./stardust.png");
    font-size: 2.0em;
    width: 100%!important;
    margin: 0px!important;
    justify-content: center;
    
}
.header.greetings-header {
    font-style: italic;
}
p.jobs-header {
    text-align: center;
    color: rgb(201, 201, 201);
    font-weight: bold;
}
.divider.divider {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0 0 0 / 99%);
}
/* .container#jobs-container {
    width: 
} */