/* LOGIN INPUTS */
.stacked.segment {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}
.stacked.segment input[type="text"] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}
.stacked.segment input[type="password"] {
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}
/* LOGIN BUTTON */
.signinBtn {
  width: 260px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
}
.signinBtn:hover {
  opacity: 0.8;
}
.signinBtn:active {
  opacity: 0.6;
}
.login input[type="text"]:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
}
.login input[type="password"]:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.9);
}
.signinBtn:focus {
  outline: none;
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.signup {
  width: 250px;
  height: 30px;
  border-radius: 2px;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
a.signup-link {
  width: 250px;
  height: 30px;
  border-radius: 2px;
  color: #5379fa;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  padding: 10px;
}
