/* .headerPosition {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 255px);
  z-index: 2;
}
 .headerColor {
  float: left;
  color: #f27405;
  font-family: "Times New Roman";
  font-size: 55px;
  font-weight: bold;
  text-shadow: 2px 2px 0 rgba(0,0,0,.95), -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
} 
.spanColor {
  color: black !important;
  text-shadow: 2px 2px 0 rgba(0,0,0,.95), -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
} */
