/* form.ui.form.loginForm {
  position: absolute;
  background: transparent;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
} */
div.field {
  /* width: 250px;
    height: 30px; */
  /* background: transparent; */
  border: 1px solid black;
  /* border-radius: 2px;
  color: #fff;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px; */
  /* margin-top: 10px;
    margin: 0 0 1em; */
}
/* input.ui.input-username {
  background: transparent;
  color: #fff;
  font-family: "Exo", sans-serif;
}
input.input-password {
  background: transparent;
  color: #fff;
  font-family: "Exo", sans-serif;
} */
input#input-username:focus {
  outline: none;
  border: none;
}
input#input-password:focus {
  outline: none;
  border: none;
}
::-webkit-input-placeholder {
  color: #f27405;
}
::-moz-input-placeholder {
  color: #f27405;
}
.ui.form .field .ui.input input {
    background: transparent;
}
/* button.ui.button {
  width: 100%;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
} */
button.ui.button:hover {
  opacity: 0.8;
}
button.ui.button:active {
  opacity: 0.6;
}
button.ui.button:focus {
  outline: none;
}
/* .ui.message {
  width: 100%;
  font-family: "Exo", sans-serif;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
div.ui.message {
  color: white;
  background-color: transparent;
} */
link {
  color: #f27405;
}
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');