/* .bodyImg {
  background-image: url("https://www.muralsyourway.com/media/catalog/product/cache/1/base/1200x/040ec09b1e35df139433887a97daa66f/k/a/kansas-city-skyline-wallpaper-mural.jpg");
  background-size: cover;
  filter: blur(5px); */
/* z-index: 0; */
/* s/* .grad-l {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.75))
  );
} */
div.field {
  background: white;
  margin-top: 10px;
  margin: 0 0 1em;
}
input.ui.input-email {
  background: white;
  color: #fff;
  font-family: "Roboto Slab", serif;
}
input.input-password {
  background: white;
  color: #fff;
  font-family: "Roboto Slab", serif;
}
input.input-email:focus {
  outline: none;
  border: none;
}
input.input-password:focus {
  outline: none;
  border: none;
}
::-webkit-input-placeholder {
  color: #ff9f29;
}
::-moz-input-placeholder {
  color: #ff9f29;
}
.ui.form .field .ui.input input {
  background: transparent;
  font-family: "Roboto Slab", serif;
  color: black;
}
button.ui.button:hover {
  opacity: 0.6;
}
button.ui.button:active {
  opacity: 0.6;
}
button.ui.button:focus {
  outline: none;
}
