#footer-container.container {
  text-align: center;
  padding: 10px;
  color: black;
  background-image: url("./tweed.png"); 
  font-size: 1.0em;
  width: 100%!important;
  margin: 0px!important;
  display: inline-block;
  clear: both;
}
a#github.item {
  color: rgb(201, 201, 201);
}
@media (min-width: 768px) and (max-width: 979px) {
  #footer-container.container {
    width: 100%;
  }
}