#footer-container.container {
  text-align: center;
  background-color: #FFC675;
  text-align: center;
  padding: 10px;
  color: black;
  background-color: #FFC675;
  font-size: 1.0em;
  width: 100%!important;
  margin: 0px!important;  
}
